{% extends 'base.html' %}

{% block content %}


    <div>
        {% if success_message %}
            <strong> {{ success_message }} <a href="{% url 'land:login' %}"> click here to Sign In</a></strong>

            </div>


            <div>
        {% else %}
            <form action="." method="post">
                {% csrf_token %}
                {{ profile_form.as_p }}
                {{ signup_form.as_p }}
                <input type="submit" value="Sign Up">
            </form>
        {% endif %}
        </div>
{% endblock %}