{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="col col-md-8">

        <div class="panel panel-inverse">
            <p class="panel-heading" style="padding-left: 15px;">More Details About the Land</p><br>

            <p class="panel" style="margin-left: 4px!important;">
                Location {{ land.description }}<br>
                Title Deed Number: {{ land.title_deed }}<br>
                Map Sheet Number: {{ land.map_sheet }}<br>
                Land Size: {{ land.size }} acres<br>
                {% if land.on_sale %}Land Price: Ksh {{ land.land_value }}{% endif %}
            </p>

            <p class="" style="padding: 15px;">Owner Details</p>
            <div class="profile-avartar ">
                        {% if land.user.profile_image %}
                            <img src="{{ land.user.profile_image.url }}" alt="{{ profile.user.username }}"
                                 class="profile-avartar">
                        {% else %}
                            <img src="{% static 'img/no-profile-image.jpg' %}" class="profile-avartar">
                        {% endif %}
             </div>
           <br>
            <p class="panel panel-info">
               Full Name:  {{ land.user.user.first_name }} &nbsp; {{ land.user.user.last_name }}<br>
            National ID: {{ land.user.id_no }}<br>
            Contact(mobile number): {{ land.user.phone_number }}<br>
            Email: {{ land.user.user.email }}<br>
            </p>
        </div>

    </div>

{% endblock %}