{% extends 'base.html' %}

{% block content %}
    <div class="row">
    <div class="col col-md-8">
    {% if lands_bought %}
        <table class="table table-responsive" border="1px;">
            <tr style="color: red; font-weight: bold">
                <td>Title Deed</td>
                <td>Map Sheet Number</td>
                <td>Buyer Username</td>
                <td>Buyer Phone Number</td>
                <td>Buyer Email</td>
                <td>Deposited Amount</td>
                <td>Date Purchased</td>
                <td>Action</td>
            </tr>

            {% for land in lands_bought %}
                <tr>
                <td>{{ land.land.title_deed }}</td>
                <td>{{ land.land.map_sheet }}</td>
                <td>{{ land.land.user.user.username }}</td>
                <td>{{ land.land.user.phone_number }}</td>
                <td>{{ land.email }}</td>
                <td>{{ land.deposit }}</td>
                <td>{{ land.date }}</td>
                <td>
                 <p><a href="{% url 'land:approve' title_deed=land.land.title_deed %}" class="btn btn-success
                  {% if land.approved %} disabled {% endif %}">Accept & Approve Purchase</a></p>
                  <p><a href="{%  url 'land:reject' title_deed=land.land.title_deed %}" class=" btn btn-danger
                  {% if not land.approved %} disabled {% endif %}">Reject& Refund</a></p>

                </td>
                </tr>

            {% endfor %}

        </table>
    {% else %}
    <div class="alert alert-danger">
       <h1>No Lands bought.</h1>
    </div>
    {% endif %}

    </div>
</div>
{% endblock %}