{% extends 'base.html' %}


{% block content %}
    <div class="col col-md-10">
        {% for land in lands %}
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        SmartLand (Title Deed: {{ land.title_deed }} )
                    </div>
                    <div class="panel-body">
                        <div class="thumbnail">
                            <img src="{{ land.photo.url }}" height="250" width="600" class="img img-responsive">
                        </div>
                    </div>
                    <div class="panel-footer">
                   <p>Land Size: ({{ land.size }} hectors)</p>
                    <p>Location: ({{ land.location }}) </p>
                    <p>{% if land.title_deed_scan %}<a href="{{ land.title_deed_scan.url }}">TITLE DEED PDF SCAN LINK</a> {% endif %}</p>
                        <p>Description
                            <a href="{% url 'land:land_details' title_deed=land.title_deed %}" class="">
                                Read More...</a>
                        </p>
                    <p>
             <a href="{% url 'payments:transfer_payment' pk=land.pk %}" class="btn btn-inverse btn-raised
                         {% if land.fee_paid %} disabled {% endif %}" style="font-size: 14px!important;">Pay Land Transfer Fee</a>

                          <a href="{% url 'land:transfer_land' pk=land.pk %}" class="btn btn-danger btn-raised
                           {% if not land.fee_paid %} disabled {% endif %}">Transfer Land</a>

                        </p>
                    </div>
                </div>

        {% endfor %}
    </div>
{% endblock %}