{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="col col-md-10">
    {% if success_message %}
        <div class="alert alert-success" role="alert">
            <strong>{{ success_message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

     {% elif error %}
        <div class="alert alert-danger" role="alert">
            <strong>{{ error }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
         </div>
    {% else %}
     <div class="">
     <div class="">
         <p>Make Land Deposit Payment using PayPal by filling the form below.</p>
     </div>
       <div class="img-thumbnail">
                <img src="{%  static 'img/paypal.png' %}">
       </div>

       </div>

        <form action="" method="post">
            {% csrf_token %}
            {{ purchase_form | crispy }}
            <input type="submit" value="purchase" class="btn btn-primary btn-raised">
        </form>
    {% endif %}
</div>
{% endblock %}