{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %} SmartLand  System {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include 'main_css.html' %}
    <style type="text/css">
        .profile-avatar{
             border-radius: 100%;
             height: 150px;
             width: 150px;
{#             box-shadow: 2px;#}
             align-self: center;

             margin-top: 35px;
             background: none;

         }
    </style>
</head>
<body>
<div class="container">

    <div class="row">

        <div class="col col-md-6 col-md-offset-3">

            <div>
                <div class="col col-md-6 col-md-offset-3 profile-avatar">
                    <img src="{% static 'img/pic.png' %}">
                     <p class="btn btn-primary" style="margin: 2px;">Please Register Here</p>
                </div>

            </div>
            <div class="card jumbotron">

                {% if success_message %}
                    <strong> {{ success_message }} <a href="{% url 'land:login' %}"> click here to Sign
                        In</a></strong>


                {% else %}
                    <form action="" method="post" style="padding: 2px; margin: 4px;">
                        {% csrf_token %}
                        <table class="table table-responsive">
                        {{ profile_form.as_table }}
                        {{ signup_form.as_table }}
                        </table>
                        <input type="submit" value="Sign Up" class="btn btn-inverse btn-raised">
                       <p>Already have an account ? <a href="{% url 'land:login' %}">Sign in</a> </p>
                    </form>
                {% endif %}

        </div>
    </div>
</div>
</div>
</body>
{% include 'main_scripts.html' %}
</html>