{% extends 'base.html' %}
{% block content %}

    <div class="row">

   <div class="jumbotron col col-md-10" style="margin-left: 25px !important;">
   <h4><strong>Welcome to SmartLand System. The Future Of The Land Management In Kenya</strong></h4>

   <p>SmartLand is a Land Management System that allows all its users to register their Lands
   in an online Account. It makes the process of land Transfer and Purchasing way far much easier.
   SmartLand Embraces the use of mobile money transfer especially <strong>Mpesa</strong> Which is the
   leading mobile money transfer in Kenya.

   By embracing this technology the Smartland users only need their mobile devices to make transactions in the
   system.
   You can check the available lands,  register lands and pay for land transfer Fees just by a click of a button from
       the comfort of your phone
   </p>

   </div>
</div>
{% endblock %}

