{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
<div class="col col-md-10">
    {% if err_message %}

        <div>
            {{ err_message }}
        </div>

    {% elif success_message %}

        <div>
            {{ success_message }}
        </div>

    {% else %}
           <ul class="list-group">
                <h5 style="color: #008080;"><strong>SmartLand Land Transfer Fee Payment.</strong></h5>
                <li class="list-group-item">How it works.</li>
                <li class="list-group-item">Step 1: Enter you phone number in the form below</li>
                <li class="list-group-item">Step 2: Click on the mobile checkout button</li>
                <li class="list-group-item">Step 3: Check your mobile phone and complete the payment by accepting. done!!</li>
            </ul>
            <div class="img-thumbnail">
                <img src="{%  static 'img/mpesa.png' %}">
            </div>

            <form action="" method="post">
                {% csrf_token %}
                {{ payment_form | crispy }}
                <input type="submit" value="checkout" class="btn btn-primary btn-raised">
            </form>


    {% endif %}
</div>
{% endblock %}